<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{admin/layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: .content-wrapper}, ~{:: #js})}">
<!--<html lang="en" xmlns:th="https://www.thymeleaf.org">-->
<head>
    <title>Tất cả Danh Mục</title>

    <th:block id="css">
        <!-- Thêm CSS tùy chỉnh nếu cần -->
    </th:block>
</head>
<body>
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/admin/dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Danh sách Danh Mục
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row py-2">
                <div class="col-12">
                    <a href="/admin/category" type="button" class="btn btn-info">
                        <i class="fas fa-redo"></i> Refresh
                    </a>
                    <div class="add-category">
                        <button class="btn btn-secondary" onclick="toggleCategoryForm()"> + Thêm Danh Mục </button>
                    </div>
                </div>
            </div>

            <!-- Form thêm danh mục -->
            <div id="category-form" class="category-form">
                <h2>Thêm Danh Mục Mới</h2>
                <form id="addCategoryForm" th:action="@{/admin/add-category}" method="post" enctype="multipart/form-data">
                    <!-- Tên Danh Mục -->
                    <label for="category_name">Tên Danh Mục</label>
                    <input type="text" id="category_name" name="name" required>

                    <!-- Trạng Thái -->
                    <label for="status">Trạng Thái</label>
                    <select id="status" name="status" required>
                        <option value="active">Hoạt Động</option>
                        <option value="inactive">Không Hoạt Động</option>
                    </select>

                    <!-- Ảnh -->
                    <label for="img">Ảnh</label>
                    <input type="file" id="img" name="img">

                    <!-- Nút lưu -->
                    <div class="btn-submit">
                        <button type="submit" class="save-button">Lưu Danh Mục</button>
                        <button type="button" class="close-button" onclick="toggleCategoryForm()">Đóng</button>
                    </div>
                </form>
            </div>


            <!-- Form cập nhật danh mục -->
            <div id="update-category-form" class="category-form" style="display:none;">
                <h2>Cập Nhật Danh Mục</h2>
                <form id="updateCategoryForm" th:action="@{/admin/update-category}" method="post" enctype="multipart/form-data">
                    <!-- Mã Danh Mục (readonly) -->
                    <label for="update_category_code">Mã Danh Mục</label>
                    <input type="text" id="update_category_code" name="categoryCode" readonly>

                    <!-- Tên Danh Mục -->
                    <label for="update_category_name">Tên Danh Mục</label>
                    <input type="text" id="update_category_name" name="name" required>

                    <!-- Ngày Tạo (readonly) -->
                    <label for="update_creation_date">Ngày Tạo</label>
                    <input type="date" id="update_creation_date" name="date" readonly>

                    <!-- Ngày Chỉnh Sửa -->
                    <label for="update_edit_date">Ngày Chỉnh Sửa</label>
                    <input type="date" id="update_edit_date" name="editDate">

                    <!-- Trạng Thái -->
                    <label for="update_status">Trạng Thái</label>
                    <select id="update_status" name="status" required>
                        <option value="active">Hoạt Động</option>
                        <option value="inactive">Không Hoạt Động</option>
                    </select>

                    <!-- Ảnh -->
                    <label for="update_img">Ảnh</label>
                    <input type="file" id="update_img" name="img">

                    <!-- Nút cập nhật và đóng -->
                    <div class="btn-submit">
                        <button type="submit" class="save-button">Cập Nhật Danh Mục</button>
                        <button type="button" class="close-button" onclick="toggleCategoryForm('update-category-form')">Đóng</button>
                    </div>
                </form>
            </div>

            <div id="customerDetail" class="thong-tin-chi-tiet" style="display: none;">
                <h2>Thông tin Danh Mục</h2>
                <div id="userInfo">
                    <!-- Dữ liệu sẽ được cập nhật qua JavaScript -->
                </div>
                <button id="closeButton" class="btn-close">Đóng</button>
            </div>


            <!-- Danh sách danh mục -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <table id="table-category" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>Mã Danh Mục</th>
                                    <th>Tên Danh Mục</th>
                                    <th>Ngày Tạo</th>
                                    <th>Ngày Chỉnh Sửa</th>
                                    <th>Trạng Thái</th>
                                    <th>Ảnh</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="category : ${categories}">
                                    <td th:text="${category.categoryCode}">Mã Danh Mục</td>
                                    <td th:text="${category.name}">Tên Danh Mục</td>
                                    <td th:text="${category.date}">Ngày Tạo</td>
                                    <td th:text="${category.editDate}">Ngày Chỉnh Sửa</td>
                                    <td th:text="${category.status}">Trạng Thái</td>
                                    <td><img th:src="@{${category.img}}" alt="Ảnh Danh Mục" width="50"></td>
                                    <td>
                                        <div class="update-category">
                                            <button
                                                    th:attr="data-code=${category.categoryCode}"
                                                    class="btn btn-primary" onclick="openUpdateCategoryForm()">Cập Nhật</button>

                                        </div>
                                        <form th:action="@{/admin/delete-category/{categoryCode}(categoryCode=${category.categoryCode})}" method="post" style="display:inline;">
                                            <button type="submit" class="btn btn-danger">Xóa</button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<th:block id="js">
    <script th:inline="javascript">
        // Khởi tạo DataTable cho bảng danh mục
        $('#table-category').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });

        // Hàm bật/tắt form thêm danh mục
        function toggleCategoryForm(formId = 'category-form') {
            const form = document.getElementById(formId);
            // Toggle display of form
            form.style.display = form.style.display === 'none' ? 'block' : 'none';

            if (form.style.display === 'block') {
                clearForm(formId);
            }
        }


        // Hàm làm sạch form thêm danh mục
        function clearForm() {
            document.getElementById('addCategoryForm').reset();
        }


        // Hàm làm sạch form thêm hoặc cập nhật danh mục
        function clearForm(formId) {
            document.getElementById(formId).reset();
        }

        // Hàm mở form cập nhật và điền dữ liệu danh mục
        async function openUpdateCategoryForm() {
            const form = document.getElementById('update-category-form');
            form.style.display = 'block';
            const button = event.currentTarget;
            const categoryCodeCode = button.getAttribute('data-code');

            const response = await fetch(`/api/categories/${categoryCodeCode}`);
            const categoryData = await response.json();

            document.getElementById('update_category_code').value = categoryData.categoryCode;
            document.getElementById('update_category_name').value = categoryData.name;
            document.getElementById('update_status').value = categoryData.status;
            document.getElementById('update_creation_date').value = categoryData.date;
            document.getElementById('update_edit_date').value = categoryData.editDate;
        }

        // Hàm đóng form cập nhật
        function closeUpdateCategoryForm() {
            toggleCategoryForm('update-category-form');
        }

    </script>
</th:block>

</body>
</html>