<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{web/layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: #main-content}, ~{:: #js})}">
<head>
  <title>Trang chủ</title>

  <th:block id="css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
          integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
          integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
  </th:block>
</head>
<body>
<th:block id="main-content">
  <h2 class="my-4">Thông báo</h2>
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Thanh toán thành công!</h4>
    <p>Hóa đơn của bạn đã được thanh toán thành công.</p>
    <hr>
    <p class="mb-0">Cảm ơn bạn đã mua sắm với chúng tôi.</p>
  </div>
  <a href="/" class="btn btn-primary">Thoát</a>
</th:block>
<th:block id="js">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
          integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>
    $(document).ready(function () {
      $(".movie-list").owlCarousel({
        items: 4,
        margin: 20,
        loop: true
      });
    });
  </script>
  <script>
    let slideIndex = 0;
    showSlides();

    function showSlides() {
      let slides = document.getElementsByClassName("slides");
      let dots = document.getElementsByClassName("dot");

      for (let i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }

      slideIndex++;
      if (slideIndex > slides.length) {
        slideIndex = 1;
      }

      for (let i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }

      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";

      setTimeout(showSlides, 3000); // Change slide every 3 seconds
    }

    function currentSlide(n) {
      slideIndex = n;
      showSlides();
    }
  </script>
</th:block>


</body>
</html>